@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
	box-sizing: border-box;
	text-decoration: none !important;
}
body{
    position: relative;
    margin: 0px;
    z-index: 100;
    margin: 0px !important;
    font-family: 'Poppins', sans-serif;
    background-color:#fff!important;
}                                                                                                                                                                                                                                                                                                                                
header{
    height: 70px;
    width: 100%;
    position: fixed;
    opacity: 0.8;    
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    box-shadow:  0 6px 5px 0 #999;
    background-color: #fff;
}
.logo{
	float: left;
	padding-top: 10px;
}

.homewrap{
	float: right;
	display: inline;
    margin-bottom: 0px;
    line-height: 71px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase ! important;
}

.wrap{
    display: inline;
    padding: 5px;
    color: #000 !important;
}
/*.act:hover {
    color: #000 !important;
    padding: 24px 20px;
    display: block;
}*/
/*.act:hover{
    background: #0000ff;
    color: #fff !important;
    text-decoration: none ! important;
}*/

.act{
    color: #000 !important;
    padding: 26px 20px;
}
.act:hover{
    background: #0000FF;
    color: #fff !important;
    text-decoration: none !important;
        padding-bottom: 26px;
    padding-top: 27px
    
}
.tabwrapper{
    margin: -6px;
    margin-left: 1px;
    height: 75px;
    line-height: 70px;
    font-size: 25px;
  
}

.right{
    float:right;
    display :inline-block;
    margin: 0px;
    height: 80px;
    line-height: 84px;
    padding-top: 1px;
}
.list{
    display: inline;
    text-decoration: none;
    margin-left: 33px;
    text-align: center;
    font-style:courier;
}
.social_media_icon {
    color: #000;
    padding-top: 20px;
    font-size: 25px !important;
}
.social_media_icon:hover {
    color: #0000ff;
}
.img_box1{
/*    border: 3px solid blue;
*/  height: 270px;
    width: 100%;
    background-image: url(../images/daytin.png.png);
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
    box-shadow:  0 0 4px 4px #ddd; 
}

.img_box2{
/*    border: 3px solid blue;
*/    height: 270px;
    width: 100%;
    background-image: url(../images/nomadiq.png.png);
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
    box-shadow: 0 0 4px 4px #ddd;
}
.img_box3{
/*    border: 3px solid blue;
*/    height: 270px;
    background-image: url(../images/proqure.png.png);
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
    box-shadow: 0 0 4px 4px #ddd;
}
.img_box4{
/*    border: 3px solid blue;
*/    height: 270px;
    background-image: url(../images/outsourceit.png);
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
    box-shadow: 0 0 4px 4px #ddd;
}
.img_box5{
/*    border: 3px solid blue;
*/  height: 270px;
    background-image: url(../images/zayana.png.png);
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
   box-shadow: 0 0 4px 4px #ddd;
}
.img_box6{
/*    border: 3px solid blue;
*/  height: 270px;
    background-image: url(../images/qed.png);
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
   box-shadow: 0 0 4px 4px #ddd;
}

.img_box7{
/*    border: 3px solid blue;
*/  height: 270px;
    background-image: url(../images/qship.png);
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    background-size: 100% auto;
   box-shadow: 0 0 4px 4px #ddd;
}

// .img_box6{
//     border: 3px solid blue;
//     height: 270px;
//     width: 100%;
//     display: inline-block;
//     margin-bottom: 0px;
// }
.box_wrrap {
    display: inline-block;
    width: 26.5%;
    margin-left: 63px;
    margin-bottom: 5px;
    margin-top: 111px;
}
.icon{
    padding-right: 20px;
    margin-right: 3px;
}
.fa{
    margin:10px;
    color: #000;
}
.soc{
    text-decoration: none !important;
}
footer {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    margin-top: 200px !important;
    margin-bottom: 0px !important;
}
p {
    margin-bottom: 0px !important;
}
.footer_p {
    text-align: center;
    color: #fff;
}